<h1>Ingrese productos</h1>
<form action="" method="POST">
  Nombre: <input type="text" name="name" placeholder="Ingresa el nombre">
  Precio: <input type="text" name="price" placeholder="Ingresa el precio">
  Imagen: <input type="text" name="image" placeholder="Ingresa la url de la imagen">
  <button type="button">el boton deberia tener el metodo save</button> 
</form>