<h1>{{title}}</h1>
<form action="../../api/products.js" method="POST">
  Nombre: <input type="text" name="name" placeholder="Ingresa el nombre">
  Precio: <input type="text" name="price" placeholder="Ingresa el precio">
  Imagen: <input type="text" name="image" placeholder="Ingresa la url de la imagen">
  <button type="button" onclick="{{newProduct}}">Agregar</button> 
</form>